@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
